<header>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#"><strong>Nootropics 2.0</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a href="#" class="nav-link"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a href="#about" class="nav-link"><i class="fa fa-info"></i> About</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a href="#products" class="nav-link"><i class="fa fa-th"></i> Products</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a href="#opinions" class="nav-link"><i class="fa fa-user"></i> Opinions</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a href="#prices" class="nav-link"><i class="fa fa-dollar"> </i>Prices</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!--/ Navbar-->

<!--Intro Section-->
<section class="view intro-2">
  <div class="full-bg-img mask">
      <div class="container flex-center">
          <div class="row mr-auto pt-5 mt-5 w-100">
              <div class="col-md-7 text-center text-md-left margins rgba-black-strong py-5">
                  <div class="white-text py-5 px-4">
                      <h1 class="h1 h1-responsive text-uppercase">Boost your intelligence </h1>
                          <hr class="hr-light">
                          <h5>We improve cognitive performance and brain activity.<br>
                              Unleash the explosive force of your brain.<br>
                              Take your mind to the next level.<br>
                              Shortcut to a brilliant mind.</h5>
                          <br>
                          <a href="#more" class="btn btn-outline-white waves-light" mdbWavesEffect>Learn more
                          </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
</header>
<!--/ Intro Section-->

<!--Section About-->
<section id="about" class="text-center">
	<div class="container-fluid py-5 px-5">
		<h2 class="h1 py-5 font-weight-bold text-uppercase">About</h2>
		<p class="px-5 mb-5 pb-3 lead">Satisfaction Guarantee</p>
        
		<div class="row">
		
			<div class="col-md-3">
				<i class="fa fa-cog fa-4x"></i>
				<h5 class="font-weight-bold mt-3">Memory improvement</h5>
				<p>Mind and focus enhancer. Eliminate mental fog. Improve learning capacity and brain functions.
				</p>
			</div>
			
			<div class="col-md-3">
				<i class="fa fa-heart fa-4x"></i>
				<h5 class="font-weight-bold mt-3">Neuroprotection</h5>
				<p>Defense mechanism enhancement against oxidative stress and increased mental health.
				</p>
			</div>
			
			<div class="col-md-3">
				<i class="fa fa-diamond fa-4x"></i>
				<h5 class="font-weight-bold mt-3">Antioxidant</h5>
				<p>Reduce oxidative stress, helps detoxin your brain and relieve anxiety. Increased connection to reality.
				</p>
			</div>

			<div class="col-md-3">
				<i class="fa fa-comments-o fa-4x"></i>
				<h5 class="font-weight-bold mt-3">Social</h5>
				<p>Increased social skills and enhanced verbal fluency. Improves social behavior and helps with public speaking.
				</p>
			</div>
		</div>
	</div>
</section>
<!--Section: About-->

<!--Section: Info-->
<section id="more" class="pt-5 text-center text-lg-left">
	<div class="container-fluid px-5">
		<div class="row mt-4">

			<div class="col-lg-6 col-xl-6 pb-3">
				<a>
					<h6 class="font-weight-bold pb-1">
						<i class="fa fa-info"></i> Info</h6>
				</a>
				<h3 class="mb-4 font-weight-bold text-primary">
					<strong>NOOTROPICS</strong>
				</h3>
				<p>Supplements that enhances your cognitive and brains functions, boosts your memory, provides serious mental health benefits and increases the brain's processing speed. Noopept is considered the best Nootropic. It is scientifically proven to have neuroprotective properties and boost the immune system. Improve motivation and concentration.</p>
				<a href="https://www.absorbyourhealth.com/best-sellers-2/?ref=4694" target="_blank" class="btn btn-primary btn-md mb-3 waves-light" mdbWavesEffect><i class="fa fa-th"></i> See suplements</a>
			</div>

			 <div class="col-lg-6 col-xl-6 mb-5">
				<div class="overlay rounded z-depth-3 waves-light" mdbWavesEffect>
					<img src="assets/chess.png" alt="Chess image" class="img-fluid">
						<a><div class="mask rgba-white-slight"></div></a>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!--Section: Info-->

<!--Section: Products-->
<section id="products" class="text-center pb-3 my-5">
	<div class="container-fluid px-5">
		<h2 class="h1 font-weight-bold h1 py-5">Bestsellers</h2>
		<p class="grey-text pb-5">In this section you can find the best nootropics.</p>
		
		<div class="row">

		  <div class="col-lg-3 col-md-6 mb-3">
			<div class="card card-cascade narrower card-ecommerce">
			  <div class="view-cascade overlay waves-light" mdbWavesEffect>
				<img src="assets/noopept.jpg" class="img-fluid" alt="sample photo">
				<a>
				  <div class="mask rgba-white-slight"></div>
				</a>
			  </div>
			  <div class="card-body card-body-cascade text-center">
				<a href="https://www.absorbyourhealth.com/product/noopept-powder-1g-5g-10g-25g-powerful-racetam-nootropic-free-scoop/?ref=4694"  target="_blank" class="grey-text">
				  <h5>Learning</h5>
				</a>
				<h4 class="card-title">
				  <strong>
					<a href="https://www.absorbyourhealth.com/product/noopept-powder-1g-5g-10g-25g-powerful-racetam-nootropic-free-scoop/?ref=4694" target="_blank" >Noopept</a>
				  </strong>
				</h4>
				<div class="orange-text mb-3">
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star-half-full"> </i>
				</div>
				<p class="card-text">Best cognitive enhancer and one of the strongest Nootropics. Improve memory consolidation.
				</p>
				<div class="card-footer">
					<a href="https://www.absorbyourhealth.com/product/noopept-powder-1g-5g-10g-25g-powerful-racetam-nootropic-free-scoop/?ref=4694" target="_blank" title="Add to Cart" class="btn btn-primary">
					  Buy now
					</a>
				</div>
			  </div>
			</div>
		  </div>
	
		  <div class="col-lg-3 col-md-6 mb-3">
			<div class="card card-cascade narrower card-ecommerce">
			  <div class=" view-cascade overlay waves-light" mdbWavesEffect>
				<img src="assets/adrafinil.jpg" class="img-fluid" alt="sample photo">
				<a>
				  <div class="mask rgba-white-slight"></div>
				</a>
			  </div>
			  
			  <div class="card-body card-body-cascade text-center">
				<a href="https://www.absorbyourhealth.com/product/adrafinil-300-mg-30-70-100-150-capsules-nootropic/?ref=4694" target="_blank" class="grey-text">
				  <h5>Focus</h5>
				</a>
				<h4 class="card-title">
				  <strong>
					<a href="https://www.absorbyourhealth.com/product/adrafinil-300-mg-30-70-100-150-capsules-nootropic/?ref=4694" target="_blank">Adrafinil</a>
				  </strong>
				</h4>
				<div class="orange-text mb-3">
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star-half-full"> </i>
				</div>
				<p class="card-text">Relieve symptoms of fatigue. Improve cognitive function and memory. Boost your happiness.
				</p>
				<div class="card-footer">
					<a href="https://www.absorbyourhealth.com/product/adrafinil-300-mg-30-70-100-150-capsules-nootropic/?ref=4694" target="_blank" title="Add to Cart" class="btn btn-primary">
					  Buy now
					</a>
				</div>
			  </div>
			</div>
		  </div>
	
		  <div class="col-lg-3 col-md-6 mb-3">
			<div class="card card-cascade narrower card-ecommerce">
			  <div class=" view-cascade overlay waves-light" mdbWavesEffect>
				<img src="assets/pramiracetam.jpg" class="img-fluid" alt="sample photo">
				<a>
				  <div class="mask rgba-white-slight"></div>
				</a>
			  </div>
			  
			  <div class="card-body card-body-cascade text-center">
				<a href="https://www.absorbyourhealth.com/product/pramiracetam-capsules-300mg-30-70-100-150-powerful-racetam-nootropic/?ref=4694" target="_blank" class="grey-text">
				  <h5>Memory</h5>
				</a>
				<h4 class="card-title title-size">
				  <strong>
					<a href="https://www.absorbyourhealth.com/product/pramiracetam-capsules-300mg-30-70-100-150-powerful-racetam-nootropic/?ref=4694" target="_blank">PRAMIRACETAM</a>
				  </strong>
				</h4>
				<div class="orange-text mb-3">
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star-half-full"> </i>
				</div>
				<p class="card-text">Improve memory, increase learning capacity, improve concentration and sensory perception.
				</p>
				<div class="card-footer">
					<a href="https://www.absorbyourhealth.com/product/pramiracetam-capsules-300mg-30-70-100-150-powerful-racetam-nootropic/?ref=4694" target="_blank" title="Add to Cart" class="btn btn-primary">
					  Buy now
					</a>
				</div>
			  </div>
			</div>
		  </div>

		  <div class="col-lg-3 col-md-6 mb-3">
			<div class="card card-cascade narrower card-ecommerce">
			  <div class=" view-cascade overlay waves-light" mdbWavesEffect>
				<img src="assets/alphagpc.jpg" class="img-fluid" alt="sample photo">
				<a>
				  <div class="mask rgba-white-slight"></div>
				</a>
			  </div>
			  <div class="card-body card-body-cascade text-center">
				<a href="https://www.absorbyourhealth.com/product/alpha-gpc-2/?ref=4694"  target="_blank" class="grey-text">
				  <h5>Training</h5>
				</a>
				<h4 class="card-title">
				  <strong>
					<a href="https://www.absorbyourhealth.com/product/alpha-gpc-2/?ref=4694" target="_blank" >Alpha GPC</a>
				  </strong>
				</h4>
				<div class="orange-text mb-3">
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star"> </i>
					<i class="fa fa-star-half-full"> </i>
				</div>
				<p class="card-text">Boost endurance performance to the next level. Increase strength and growth hormone.
				</p>
				<div class="card-footer">
					<a href="https://www.absorbyourhealth.com/product/alpha-gpc-2/?ref=4694" target="_blank" title="Add to Cart" class="btn btn-primary">
					  Buy now
					</a>
				</div>
			  </div>
			</div>
		  </div>
		  
		</div>
	</div>
</section>
<!--Section: Products-->


<!-- Section: Stats -->
<section class="pt-5">
    <div class="container-fluid text-center text-white stats">
        <div class="row">
			<div class="col-md-3 py-5">
			  <span class="h2">23000+</span>
			  <br>Adrafinil
			</div>
			<div class="col-md-3 py-5">
			  <span class="h2">6500+</span>
			  <br>Noopept
			</div>
			<div class="col-md-3 py-5">
			  <span class="h2">11000+</span>
			  <br>Aniracetam
			</div>
			<div class="col-md-3 py-5">
			  <span class="h2">10000+</span>
			  <br>Magnesium
			</div>
		</div>
    </div>
</section>
<!-- Section: Stats -->

<!--Section: Opinion-->
<section id="opinions" class="pt-5 text-center text-lg-left">
        <div class="container-fluid pt-5 px-5">
            <div class="row mt-4">
                <div class="col-lg-6 col-xl-6 pb-3">
                    <h3 class="mb-4 font-weight-bold dark-grey-text">
                        <strong>Nootropic user real experience</strong>
                    </h3>
                    <p>I took a cocktail of Nootropics with three eggs and a glass of OJ; than lied down for a nap. 45 minutes later I got up, marched straight to my chair and worked, clear as a bell. Beethoven was playing in the background, than Mozart and I felt like I was "one" with these mathematical geniuses of music. Except my pallet was my Macintosh and I was painting my masterpiece. Splashes of color, beautiful designs, subliminal messages, stunning words, compositions, everything was just flowing and clicking like it had never before. </p>
                </div>
 
                <div class="col-lg-6 col-xl-6 mb-5">
                    <p>Memory improvement and learning capacity</p>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar blue" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    <br>
                    <p>Mental clarity and stress reduction</p>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar indigo" role="progressbar" style="width: 92%;" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">92%</div>
                        </div>
                    <br>
                    <p>Relieve symptoms of fatigue</p>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                </div>
              </div>
        </div>
</section>
<!--Section: Opinion-->

<!--Section: Prices -->
<section id="prices" class="text-center pb-3 my-5">
	<div class="container-fluid px-5 prices">
        <h2 class="h1 py-5 white-text">Prices</h2>
        <p class="white-text pb-5">Choose the best for you.</p>
		
        <div class="row">
		
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card pricing-card">
                    <div class="header blue py-4 text-white">
                        <h2 class="h2 h2-responsive">ALPHA GPC</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline justify-content-center dark-grey-text">
                            <li class="py-2">Protect neurons</li>
                                <hr>
                            <li class="py-2">Boost Endurance Performance</li>
                                <hr>
                            <li class="py-2">Maintain good brain health</li>
                                <hr>
                            <li class="py-2">Amplify cognition </li>
                                <hr>
                            <li>
                                <h2 class="price py-3"> $20.99</h2>
                            </li>
                        </ul>
                            <a href="https://www.absorbyourhealth.com/product/alpha-gpc-2/?ref=4694" target="_blank" class="btn btn-blue waves-light" mdbWavesEffect>Buy now</a>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card pricing-card">
                    <div class="header indigo py-4 text-white">
                            <h2 class="h2 h2-responsive">NOOPEPT</h2>
                    </div>
					
                     <div class="card-body">
                            <ul class="list-inline justify-content-center dark-grey-text">
                                <li class="py-2">Best cognitive enhancer</li>
                                <hr>
                                <li class="py-2">One of the strongest Nootropics</li>
                                <hr>
                                <li class="py-2">Memory consolidation</li>
                                <hr>
                                <li class="py-2">Learning improvement</li>
                                <hr>
                                <li>
                                    <h2 class="price py-3">$ 19.99</h2>
                                </li>
                            </ul>
                            <a href="https://www.absorbyourhealth.com/product/noopept-powder-1g-5g-10g-25g-powerful-racetam-nootropic-free-scoop/?ref=4694" target="_blank" class="btn btn-indigo waves-light" mdbWavesEffect>Buy now</a>
                    </div>
                </div>
            </div>
            

   
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card pricing-card">
                    <div class="header bg-info py-4 text-white">
                            <h2 class="h2 h2-responsive">Pramiracetam</h2>
                    </div>

                    <div class="card-body">
                        <ul class="list-inline justify-content-center dark-grey-text">
                            <li class="py-2">Memory improvement</li>
                            <hr>
                            <li class="py-2">Concentration improvement</li>
                            <hr>
                            <li class="py-2">Learning improvement</li>
                            <hr>
                            <li class="py-2">Sensory perception improvement</li>
                            <hr>
                            <li>
                                <h2 class="price py-3">$ 20.99</h2>
                            </li>
                        </ul>
                        <a href="https://www.absorbyourhealth.com/product/pramiracetam-capsules-300mg-30-70-100-150-powerful-racetam-nootropic/?ref=4694" target="_blank" class="btn btn-info waves-light" mdbWavesEffect>Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
<!--Section: Prices -->

<!--Section: Contact -->
<section>
    <div class="container my-5 contact">
        <h2 class="text-center h1 h1-responsive py-5">Recommended supplier</h2>
		<p class="text-center mb-5"><a href="https://www.absorbyourhealth.com/about-us/?ref=4694" target="_blank">Genome Research LLC</a></p>   
                    
                <div class="row">
                    <div class="col-md-4 col-xl-6">
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-map-marker fa-2x mr-2"></i> 9028 Dowden Rd 6-114 Orlando, FL 32827, US
                            </li>
							<li>
                                <i class="fa fa-phone fa-2x mt-4 mr-2"></i> Phone: 910-401-2369
                            </li>
							<li>
                                <i class="fa fa-envelope fa-2x mt-4 mr-2"></i> info@absorbyourhealth.com
                            </li>
							<li>
                                <i class="fa fa-globe fa-2x mt-4 mr-2"></i>
                                    <a href="https://www.absorbyourhealth.com/about-us/?ref=4694" target="_blank">www.absorbyourhealth.com</a>
                            </li>
                        </ul>
                    </div>

					<div class="col-md-8 col-xl-6 text-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47203.910346705605!2d-81.27410439503211!3d28.435799147258933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e7622e5daf7e69%3A0xfc445f8a77d926f2!2sBuy+Etizolam!5e0!3m2!1ses!2ses!4v1532539938317" width="560" height="300" frameborder="0" style="border:0" allowfullscreen z-depth-2></iframe>
                    </div>
				</div>
    </div>
</section>
<!--Section: Contact -->


	<!--Footer-->
    <footer class="page-footer text-center font-small">
        <div class="footer-copyright text-center py-5">
            <div class="container-fluid">
                <a class="btn-floating btn-fb waves-light" mdbWavesEffect>
                    <i class="fa fa-facebook"> </i>
                </a>
                <a class="btn-floating ml-1 btn-tw waves-light" mdbWavesEffect>
                    <i class="fa fa-twitter"> </i>
                </a>
                <a href="https://github.com/dorinam" target="_blank" class="btn-floating ml-1 btn-git waves-light" mdbWavesEffect>
                    <i class="fa fa-github"> </i>
                </a>
                <br>    
					© 2018 Copyright:
                    <a href="https://www.dorinamihai.tech"> Created by Dorina Mihai </a>
                    <br>
                    Based on Bootstrap, Angular &amp; Material Design UI
            
            </div>
        </div>
    </footer>
	<!-- Footer -->

